body {
background-color:powderblue;
}

h1 {
color: blue;
font-family: TimesNewRoman;
text-align: center;
}

h2 {
color: purple;
text-align: center;
}

#h2s {
text-align: left;
}

h3 {
color: blue;
border: 2px solid blue;
}

p {
color: green;
border: 2px solid black;
}

li {
color: green;
}
